<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sellkaro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity
            android:name=".ui.activities.SplashActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity android:name=".ui.activities.LoginActivity" />
        <activity android:name=".ui.activities.SignupActivity" />
        <activity
            android:name=".ui.activities.LoginSetupActivity"
            android:theme="@style/AppTheme.FullScreen" />

        <!-- facebook-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>

        </activity>
        <activity android:name=".ui.activities.CityListActivity" />

        <activity
            android:name=".ui.activities.HomeActivity"
            android:configChanges="keyboardHidden|screenSize|orientation">
        </activity>
        <activity
            android:name=".ui.activities.AddPhotoActivity"
            android:configChanges="keyboardHidden|screenSize|orientation" />
        <activity
            android:name=".ui.activities.CameraRollActivity"
            android:configChanges="keyboardHidden|screenSize|orientation" />
        <activity
            android:name=".ui.activities.ChooseCategoryActivity"
            android:configChanges="keyboardHidden|screenSize|orientation" />
        <activity
            android:name=".ui.activities.ListingProductActivity"
            android:configChanges="keyboardHidden|screenSize|orientation" />
        <activity android:name=".ui.activities.MyProfileMainActivity" />
        <activity android:name=".ui.activities.ProductDetailsActivity" />

    </application>

</manifest>